{
    "plugins": [
      ["module-resolver", {
          "alias": {
            "@assets": "./src/assets",
            "@components": "./src/components",
            "@context": "./src/context",
            "@modules": "./src/modules",
            "@navigations": "./src/navigations",
            "@services": "./src/services",
            "@styles": "./src/styles",
            "@utils": "./src/utils"
          }
      }]
    ]
  }